################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarRental/DesignTimeBuild/.dtbcache.v2
/.vs/CarRental/FileContentIndex/6af24785-1f32-4cde-be65-daaa67379fe0.vsidx
/.vs/CarRental/FileContentIndex/7fb6e5d2-4def-4ea4-84d8-8f515791c715.vsidx
/.vs/CarRental/FileContentIndex/89f3e687-6e94-4c0b-b77c-b6d32b818b4e.vsidx
/.vs/CarRental/v17/.futdcache.v2
/.vs/CarRental/v17/.suo
/.vs/CarRental/v17/DocumentLayout.backup.json
/.vs/CarRental/v17/DocumentLayout.json
/.vs/ProjectEvaluation/carrental.metadata.v9.bin
/.vs/ProjectEvaluation/carrental.projects.v9.bin
/.vs/ProjectEvaluation/carrental.strings.v9.bin
/bin/Debug/net8.0/CarRental.dll
/bin/Debug/net8.0/CarRental.exe
/bin/Debug/net8.0/CarRental.pdb
/Controllers/404Controller.cs
/Controllers/ContactController.cs
/Controllers/FeatureController.cs
/Controllers/OurTeamController.cs
/Controllers/ServiceController.cs
/Controllers/TestimonialController.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/CarRental.AssemblyInfo.cs
/obj/Debug/net8.0/CarRental.AssemblyInfoInputs.cache
/obj/Debug/net8.0/CarRental.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/CarRental.dll
/obj/Debug/net8.0/CarRental.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/CarRental.pdb
/obj/Debug/net8.0/CarRental.sourcelink.json
/obj/Debug/net8.0/ref/CarRental.dll
/obj/Debug/net8.0/refint/CarRental.dll
/Views/About/Index.cshtml
/Views/Contact/Index.cshtml
/Views/Feature/Index.cshtml
/Views/Home/Index.cshtml
/Views/OurTeam/Index.cshtml
/Views/Service/Index.cshtml
/Views/Shared/_Layout.cshtml
/Views/Testimonial/Index.cshtml
/Views/_404/Index.cshtml
/.vs/CarRental/FileContentIndex/19c16484-bd27-4719-a673-b7f4b76ec7be.vsidx
/.vs/CarRental/FileContentIndex/f9f0bc06-2681-4766-b201-c9f6a87f0a7e.vsidx
/.vs/CarRental/FileContentIndex/f48547b5-e369-4a5e-a8ab-eef89f2dea01.vsidx
